# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Data / Cache
*.pickle
*.pkl
*.h5
*.hdf5
data/
.cache/
.pytest_cache/

# macOS
.DS_Store

# dotenv / secrets
.env
